<header th:fragment="headerUsager">
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <h2 class="mb-0" style="color: #06bbcc; font-weight: 700;">OI Mediatheque</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link px-3" href="profileUsager">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="DocumentsU"> Consulter documents</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="PretsU">Vos Prêt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#" style="color: #06bbcc;">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>