<header th:fragment="headerEmploye">
    <nav class="bg-white shadow sticky top-0">
        <div class="container mx-auto flex items-center justify-between p-4">
            <a href="#" class="flex items-center space-x-4">
                <!-- <img src="img/Logo.png" alt="Logo" class="h-8"> -->
                <h2 class="text-2xl font-bold  font-sans text-[#06bbcc]">OI Mediatheque</h2>
            </a>
            <button type="button" class="lg:hidden text-gray-700 focus:outline-none"
                onclick="document.getElementById('navbarCollapse').classList.toggle('hidden')">
                <span class="material-icons">menu</span>
            </button>
            <div id="navbarCollapse" class="hidden lg:flex items-center space-x-8">
                <a href="#" class="text-lg font-semibold text-gray-700 hover:text-[#06bbcc]">Accueil</a>
                <a href="#" class="text-lg font-semibold  text-[#06bbcc] font-bold">Connexion</a>
            </div>
        </div>
    </nav>
</header>